/***************** TAGS *****************/
html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
}

div {
    margin-top: 0;
    text-align: center;
}

h1 {
    color: #77A0A9;
    font-size: 4rem;
    margin-top: .75rem;
    font-family: "Arial Rounded MT Bold";
}

/***************** CLASSES *****************/

.hero{
    background-image: url("BackgroundGif.gif");
    background-repeat: none;
    background-size: 120%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.frontpage{
    height: 100%;
}

.padding{
    height: 1vw;
}

/***************** IDS *****************/