/***************** TAGS *****************/
html{
    height: 100%;
    width: 100%;
    background-color: #e4f9f5;

}

body{
    margin: 0;
}

div {
    margin-top: 0;
    text-align: center;
}

h1 {
    color: #77A0A9;
    font-size: 4rem;
    margin-top: .5rem;
    font-family: "Arial Rounded MT Bold";
}

/***************** CLASSES *****************/
.frontpage{
    height: 100%;
}

.padding{
    height: 1vw;
}

/***************** IDS *****************/
